<!-- Creating the form for the question , it should well styled and good -->
 <form action="/questions/new" method="POST">
        <h2>form - Questions</h2>
        <div>
            <label for="question">Question</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="answer">Answer</label>
            <input type="text" id="answer" name="answer">
        </div>
        <div>
            <label for="nbpoints">Nb points</label>
            <input type="number" id="nbpoints" name="nbpoints">
        </div>
        <input type="submit" value="Create">
    </form>